{{- if .Values.mysql.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-init
  namespace: {{ .Values.namespaces.database }}
  labels:
    {{- include "employee-app.labels" . | nindent 4 }}
    {{- include "employee-app.mysql.selectorLabels" . | nindent 4 }}
data:
  init.sql: |
    -- Create read-only user for reports service
    CREATE USER IF NOT EXISTS '{{ .Values.mysql.auth.reportsUsername }}'@'%' IDENTIFIED BY '{{ .Values.mysql.auth.reportsPassword }}';
    GRANT SELECT ON {{ .Values.mysql.auth.database }}.* TO '{{ .Values.mysql.auth.reportsUsername }}'@'%';
    FLUSH PRIVILEGES;
{{- end }}
