apiVersion: v1
kind: Service
metadata:
  name: reports
  namespace: employee-app-backend
  labels:
    app: reports
spec:
  type: ClusterIP
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app: reports
