apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../k8s

namePrefix: qa-

labels:
  - pairs:
      environment: qa
    includeSelectors: false

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: frontend

# QA-specific config
configMapGenerator:
  - name: qa-config
    literals:
      - LOG_LEVEL=INFO
