apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../k8s

namePrefix: uat-

labels:
  - pairs:
      environment: uat
    includeSelectors: false

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Deployment
      name: frontend

# UAT-specific config
configMapGenerator:
  - name: uat-config
    literals:
      - LOG_LEVEL=INFO
